@font-face {
  src: url('../fonts/FuturaPTLight.otf');
}

@font-face {
  src: url('../fonts/FuturaPTLightOblique.otf');
}

@font-face {
  src: url('../fonts/FuturaPTBook.otf');
}

@font-face {
  src: url('../fonts/FuturaPTBookOblique.otf');
}

@font-face {
  src: url('../fonts/FuturaPTMedium.otf');
}

@font-face {
  src: url('../fonts/FuturaPTMediumOblique.otf');
}

@font-face {
  src: url('../fonts/FuturaPTHeavy.otf');
}

@font-face {
  src: url('../fonts/FuturaPTHeavyOblique.otf');
}

@font-face {
  src: url('../fonts/FuturaPTDemi.otf');
}

@font-face {
  src: url('../fonts/FuturaPTDemiOblique.otf');
}

@font-face {
  src: url('../fonts/FuturaPTBold.otf');
}

@font-face {
  src: url('../fonts/FuturaPTBoldOblique.otf');
}

@font-face {
  src: url('../fonts/FuturaPTExtraBold.otf');
}

@font-face {
  src: url('../fonts/FuturaPTExtraBoldOblique.otf');
}

@font-face {
  src: url('../fonts/FontAwesome6Free-Solid-900.otf');
}

@font-face {
  src: url('../fonts/FiraCode-Retina.ttf');
}

* {
  -fx-fill: #fff;
  -fx-text-fill: #fff;
  -fx-font-family: 'Futura PT Medium';
  -fx-font-size: 30px;
}

.root {
  -fx-background-color: #100625;
}

.border {
  -fx-border-color: #0586E3;
  -fx-border-width: 5px;
}

.border-bottom {
  -fx-border-color: #0586E3;
  -fx-border-width: 0 0 5px 0;
}

.rounded {
  -fx-border-radius: 20px;
  -fx-background-radius: 22px;
}

.rounded * {
  -fx-background-radius: 20px;
}

.drop-shadow {
  -fx-effect: dropshadow(one-pass-box, #0094FF, 20, 0, 0, 0);
}

.bad {
  -fx-border-color: #EF2858;
  -fx-effect: dropshadow(one-pass-box, #EF2858, 20, 0, 0, 0);
}

.good {
  -fx-border-color: #19E275;
  -fx-effect: dropshadow(one-pass-box, #19E275, 20, 0, 0, 0);
}

.clickable {
  -fx-cursor: hand;
}

.button {
  -fx-background-color: #1E0A49;
  -fx-padding: 10px 50px;
  -fx-cursor: hand;
}

.button:hover {
  -fx-background-color: #2B145B;
}

.text-field {
  -fx-background-color: #1E0A49;
  -fx-font-size: 30px;
  -fx-padding: 10px 20px;
  -fx-cursor: text;
  -fx-text-fill: #fff;
  -fx-prompt-text-fill: #481f9f;
}

.text-field * {
  -fx-background-color: transparent;
}

.margin {
  -fx-background-color: transparent;
}

.bg {
  -fx-background-color: #100625;
}

.bg-light, .bg-light > * {
  -fx-background-color: #1E0A49;
}

.transparent {
  -fx-background-color: transparent;
}

.transparent * {
  -fx-background-color: transparent;
}

.pad {
  -fx-padding: 20px;
}

.no-pad {
  -fx-padding: 0px;
}

#backButton, #closeButton {
  -fx-padding: 5px 16px 10px 16px;
}

#helpButton {
  -fx-padding: 5px 10px 10px 10px;
}

.list-item {
  -fx-background-color: #1E0A49;
  -fx-font-size: 30px;
  -fx-padding: 10px 20px;
  -fx-max-width: Infinity;
  -fx-background-radius: 0;
}

.list-item.list-item-top {
  -fx-background-radius: 18px 18px 0 0 !important;
}

/*
.list-item .label {
  -fx-padding: 0px 10px;
}
*/

.expand {
  -fx-max-width: Infinity;
}

.list-item .hover-show {
  visibility: hidden;
}

.list-item:hover .hover-show {
  visibility: visible;
}

.icon * {
  -fx-font-family: 'Font Awesome 6 Free Solid';
  -fx-font-weight: 900;
}

.subtitle {
  -fx-font-size: 20px;
}

.overlay {
  -fx-background-color: rgba(51, 67, 86, 0.6);
}

.timer, .timer-bg {
  -fx-stroke-width: 20px;
  -fx-stroke-line-cap: round;
}

.timer {
  -fx-stroke: #0586e3;
}

.timer-bg {
  -fx-stroke: #553794;
}

.score-bar, .score-bar-bg {
  -fx-stroke-width: 20px;
  -fx-stroke-line-cap: round;
}

.score-bar {
  -fx-stroke: #0586e3;
}

.score-bar-bg {
  -fx-stroke: #553794;
}

.popup-text, .popup-text > * {
  -fx-wrap-text: true;
}

.img, .img * {
  -fx-padding: 0;
  -fx-background-color: #fff;
}

#circle {
  -fx-fill: #1E0A49;
  -fx-stroke: #0586E3;
  -fx-stroke-width: 5px;
}

#emojiButton {
  -fx-padding: 5px 10px 10px 10px;
}

.emoji {
  -fx-cursor: hand;
}

.divider {
  -fx-stroke: #301c5d;
  -fx-stroke-width: 3px;
  -fx-stroke-line-cap: round;
}